<!DOCTYPE html>
  <html>
  <head>
      <title>Reject Page</title>
      <style>
      table.center {
            margin-left: auto;
            margin-right: auto;
          }
      </style>
  </head>
  <body>
    <form method="post">
      <fieldset>Reject Page</legend>
        <table class="center">
          <tr>
            <td> ID </td>
            <td>:<%= user.id %></td>
          </tr>
          <tr>
            <td>User Name</td>
            <td><input type="text" value="<%= user.username %>"  name="username"  ></td>
          </tr>

          <tr>
           <td>Order Id</td>
            <td><input type="text" value="<%= user.orderid %>"  name="orderid"></td>
          </tr>
          
          <tr>
            <td>Address</td>
            <td><input type="text" value="<%= user.address %>"  name="address"></td>
          </tr>
          <tr>
            <td>Time</td>
            <td><input type="time" value="<%= user.Time %>" name="Time" ></td>
          </tr>
         

            <tr>
                <td><h3>Are you sure to Reject the Order?</h3></td>
              </tr>
              <tr>
                <td><input type="hidden" name="id" value="<%= user.id %>"></td>
                <td><input type="submit" name="choice" value="Reject"></td>
              </tr>
        </table>
    </fieldset>
  </form>
  <table class="center">
      <tr>
        <td><a href="/home">Back</a>|
      	<a href="/logout">Logout</a></td>
      </tr>
  </table>
</body>
</html>